.discos::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--scale-40);
  margin: 2rem 0;
}

.discos {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.audios {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.audio-player {
  background-color: #ffffff42;
  border-radius: 4px;
  padding: 8px;
  display: grid;
  gap: .4rem;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

.audio-player:nth-child(6) h4,
.audio-player:nth-child(9) h4
{
  font-size: .8rem;
}

.audio-player:nth-child(6) p,
.audio-player:nth-child(9) p {
  font-size: .65rem;
}

.audio-player img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.144);
}

.audio-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  font-family: "Quicksand medium";
  color: var(--scale-10-transparent);
}

.audio-info h4 {
  font-size: .9rem;
  color: var(--scale-10);
  font-family: "Quicksand regular";
}

.audio-info p {
  font-size: .8rem;
}

.audio-album-info {
  display: flex;
  gap: .2rem;
  align-items: center;
}

.separador-album-artista {
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background-color: var(--scale-10-transparent);
}

.ultima-linha {
  display: flex;
  align-items: center;
  gap: .5rem;
  position: relative;
}

.ultima-linha p {
  color: var(--main-color);
  background-color: var(--scale-10-transparent);
  padding: 4px;
  font-weight: 600;
  border-radius: 1px;
  font-size: .65rem !important;
}

.controll {
  display: flex;
  align-items: center;
  gap: .2rem;
}

.controll div {
  height: 20px;
  width: 20px;
}

.controll svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.playpause {
  background-color: rgba(255, 255, 255, 0.959);
  border-radius: 50%;
  padding: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px !important;
  width: 26px !important;
  cursor: pointer;
}

.icone-play {
  position: absolute;
  width: 40px;
  height: 18px;
  top: 8px;
  right: 0;
  display: flex;
  gap: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.icone-play div {
  width: 2px;
  border-radius: 4px;
  background-color: var(--scale-10);
}

.icone-play.active div {
  animation: waveEffect 1.4s infinite ease-in-out;
}


@keyframes waveEffect {
  0% {
    height: 6px;
  }

  50% {
    height: 18px;
  }

  80% {
    height: 60%;
  }

  100%{
    height: 6px;
  }
}

.icone-play div:nth-child(1) {
  height: 8px;
  animation-delay: 0.2s;
}

.icone-play div:nth-child(2) {
  height: 12px;
  animation-delay: 0.4s;
}

.icone-play div:nth-child(3) {
  height: 6px;
  animation-delay: 0.6s;
}

.icone-play div:nth-child(4) {
  height: 14px;
  animation-delay: 0.8s;
}

.icone-play div:nth-child(5) {
  height: 18px;
  animation-delay: 1s;
}

#audio1 {
  background-color: #b3ab81;
}

#audio2 {
  background-color: #485041 ;
}

#audio3 {
  background-color: #500903;
}

#audio4 {
  background-color: #353535;
}

#audio5 {
  background-color: #35898f;
}

#audio6 {
  background-color: #916746;
}

#audio7 {
  background-color: #535efd9a;
}

#audio8 {
  background-color: #d4cb49a9;;
}

#audio9 {
  background-color: rgba(150, 150, 150, 0.685);
}

@media (min-width:860px) {
  .audio-info {
    gap: 0;
  }
}

@media (max-width: 1009px) {
  .audios {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }

  .playpause {
    height: 30px !important;
    width: 30px !important;
    bottom: .5px;
  }
}

@media (max-width: 682px) {
  .audios {
    justify-content: center;
    grid-template-columns: minmax(320px,380px);
  }
}

@media (max-width: 430px) {
  .audios {
    grid-template-columns: 1fr !important;
  }
}
@media (max-width: 767px) {

  #discos.animation-left .audio-player{
    opacity: 1;
  }

  .audio-player {
    opacity: 0;
  }
}