header {
  width: 100%;
  position: absolute;
  z-index: 300;
}

#headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo img {
  width: 120px;
  height: 60px;
  object-fit: contain;
}

#links ul {
  display: flex;
  gap: 1rem;
}

#links a { 
  color: var(--scale-10);
}

.bg-header {
  height: 50vh;
  width: 100%;
  position: relative;
}

.bg-header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(90%);
}

.bg-header h1{
  position: absolute;
  top: 40%;
  color: var(--scale-20);
}