header {
  background-image: url('../Assets/images/header.jpeg');
  background-size: cover;
  background-position: center;
  height: 50vh;
}

#headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo img {
  width: 120px;
  height: 60px;
  object-fit: contain;
}

#links ul {
  display: flex;
  gap: 1rem;
  color: var(--scale-10);
}