#servicos {
  background-color: var(--main-color);
  width: 100%;
  color: var(--scale-10);
}

#servicos-conteudo h2 {
  color: var(--scale-10);
}

#servicos-conteudo > h2 {
  margin-bottom: 2rem;
  text-align: right;
}

.cartoes {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
}

.cartao-servico {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#icone-gravacao {
  display: flex;
  gap: .8rem;
  align-items: center;
  height: 80px;
}

#icone-gravacao div:first-child {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: red;
  position: relative;
}

#icone-gravacao div:first-child::after {
  display: block;
  content: '';
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.349);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animationEllipse 3.5s infinite;
}

@keyframes animationEllipse {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 64px;
    height: 64px;
  }
  100% {
    width: 0;
    height: 0;
  }
}

#icone-gravacao h2 {
  font-size: 2.4rem;
  font-family: "Quicksand bold";
}

#icone-mixagem {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.base {
  width: 3px;
  height: 100%;
  background-color: var(--scale-10);
  border-radius: 8px;
  position: relative;
}

.ajuste {
  height: 10px;
  width: 16px;
  background-color: #424242;
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transition: .4s;
}

.detalhe {
  width: 60%;
  height: 2px;
  background-color: var(--scale-10);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#icone-masterizacao {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.onda {
  height: 10%;
  width: 7px;
  background-color: var(--scale-10);
  border-radius: 8px;
  transition: .8s;
}

.cartao-servico h3 {
  font-size: 1.6rem;
}

.cartao-servico p {
  font-size: .9rem;
  color: var(--scale-30);
}

.discos::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--scale-40);
  margin: 2rem 0;
}

.discos {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.audios {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.audio-player {
  background-color: #C76037;
  border-radius: 4px;
  padding: 8px;
  display: grid;
  gap: .4rem;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 60px;
}

.audio-player img {
  height: 100%;
  width: 100%;
  border: 4px;
  object-fit: cover;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.144);
}

.audio-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Quicksand medium";
  color: var(--scale-10-transparent);
}

.audio-info h4 {
  font-size: .8rem;
  color: var(--scale-10);
}

.audio-info p {
  font-size: .6rem;
}

.audio-album-info {
  display: flex;
  gap: .2rem;
  align-items: center;
}

.separador-album-artista {
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background-color: var(--scale-10-transparent);
}

.audio-info div:last-child {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.audio-info div:last-child p {
  color: var(--main-color);
  background-color: var(--scale-10-transparent);
  padding: 4px;
  font-weight: 600;
  border-radius: 1px;
}