.swiper {
  max-width: 100%;
  max-height: 640px;
}

.swiper-slide img {
  filter: brightness(85%);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--scale-10);
  padding: 1rem;
}

.swiper-pagination-bullet {
  background: var(--scale-10);
  height: 12px;
  width: 24px;
  border-radius: 2px;
}

@media (min-width: 1000px) {
  .swiper {
    max-height: 800px;
  }
}