#sobre {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
}

.historia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.imagem-sobre {
  background-color: var(--scale-40);
  min-height: 280px;
  border-radius: 8px;
}

.texto-sobre {
  font-size: 1rem;
  font-weight: 400;
  color: var(--main-color);
}


@media (max-width: 767px) {
  .historia {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}